* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: black;
}

.div-titulo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-titulo h1 {
    font-weight: 300;
    color: white;
}

.contenedor {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
}

/* ESTILOS FORMULARIO */
.contenedor .div-formulario {
    width: 30%;
    height: 350px;
    margin: 15px 15px;
    background-color: rgb(135, 132, 132);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
}

.contenedor .div-formulario h2 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: whitesmoke;
}

.contenedor .div-formulario form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor .div-formulario form input,
.contenedor .div-formulario form button {
    width: 60%;
    padding: 10px 10px;
    margin: 10px 10px;
}

/* ESTILOS LISTADO */
.contenedor .div-listado {
    width: 55%;
    height: calc(100% - 50px);
    margin: 15px 15px;
    background-color: rgb(135, 132, 132);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
    color:beige;
}

.contenedor .div-listado h2 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: whitesmoke;
}

.contenedor .div-listado .div-citas {
    background-color: blue;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px;
    padding: 0 30px;
    align-items: baseline;
}

.contenedor .div-listado .div-citas p {
    margin: 10px 0;
    font-size: 1em;
    color: #ddd;
}

hr {
    width: 100%;
    height: 1px;
}

.btn {
    padding: 5px 10px;
    border: none;
    margin: 0 5px;
    color: white;
    border-radius: 50px;
}

.btn-editar {
    background-color: rgb(230, 193, 211);
    color: black;
}

.btn-eliminar {
    background-color: rgb(238, 10, 86);
    color:white;
}